@import url("https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: Oswald;
}

img.globe {
  height: 600px;
  border: none;
  position: fixed;
  top: 50vh;
  left: 75vw;
  z-index: -1;
  animation: spin 60s linear infinite, appear 5s;
  transform: rotate(0deg);
}

.mainScreen {
  font-size: 25px;
  height: 100vh;
  overflow: hidden;
}

footer {
  position: fixed;
  top: 97vh;
  left: 0;
  width: 100vw;
  font-size: 2vh;
}

img {
  height: 200px;
  border: 4px solid black;
  animation: appear 0.3s;
}

button img {
  height: 70px;
  margin: 0 auto;
  border: none;
}

button {
  margin: 5px;
  height: 150px;
  width: 500px;
  font-size: 30px;
  font-family: Oswald;
  padding: 2vw;
  cursor: pointer;
  background-color: #777;
  border: 2px solid black;
  /* line-height: 100px; */
  transition: 0.3s;
  border-radius: 5%;
  animation: appear 0.3s;
}

button:hover {
  background-color: #999;
}

.leftPanel {
  width: 50vw;
  padding: 2vw;
  text-align: center;
}

.rightPanel {
  position: absolute;
  top: 5vh;
  left: 60vw;
}

.gameOver {
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
  padding: 10vw;
}

.gameOver button {
  margin: 5vw;
}

@media (orientation: portrait) {
  body {
    margin: 0;
    padding: 0;
    font-size: 5vh;
    font-family: Oswald;
  }

  img.globe {
    position: fixed;
    top: 60vh;
    left: 65vw;
  }

  .mainScreen {
    font-size: 3vh;
    text-align: center;
  }

  img {
    height: 15vh;
    border: 4px solid black;
    animation: appear 0.3s;
  }

  button img {
    height: 10vh;
    margin: 0 auto;
    border: none;
  }

  button {
    margin: 5px;
    padding: 0;
    height: 20vh;
    width: 38vw;
    font-size: 3vh;
  }

  .leftPanel {
    font-size: 3vh;
    width: 50vw;
    padding: 2vw;
    text-align: center;
  }

  .rightPanel {
    font-size: 1vh;
    position: absolute;
    top: 10vh;
    left: 60vw;
  }

  .gameOver {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
    padding: 10vw;
  }

  .gameOver button {
    margin: 5vw;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
