.gameOver {
  font-size: 6vh;
  text-align: left;
}

.gameOver img {
  height: 5vh;
  border: 2px solid black;
}

.results {
  height: 40vh;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 10vh;
  text-align: center;
}

.correctAnswers {
  font-size: 3vh;
  padding: 2vh;
  position: absolute;
  height: 50vh;
  animation: appear 3s, rollcall 20s 1s linear both, appear 3s 20s reverse;
  z-index: -1;
}

@keyframes rollcall {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-300%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
