h1 {
  text-align: center;
}

.selectScreen button {
  font-size: 3vw;
  line-height: 5vh;
  text-align: center;
  width: 48vw;
  height: 20vh;
}

@media (orientation: portrait) {
  .selectScreen button {
    font-size: 0;
    width: 40vw;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  h1 {
    text-align: center;
    margin: 3vh;
  }
  .selectScreen button {
    font-size: 3vw;
    line-height: 5vh;
    text-align: center;
    width: 46vw;
    height: 20vh;
  }
}
